
<div id='cta'>
	<h2>{{ section.settings.pre-order-title }}</h2>

	The new {{ collection.title }} is out now! {{ section.settings.pre-order-text }}
   <span class="svg-wrapper">{{ 'icon-success.svg' | inline_asset_content }}</span>

</div>	
{%- style -%}
#cta{
  margin-left: 6vw;
}
{%- endstyle -%}

{% schema %}
{
"name": "Call to action",
"settings": [
	{
	"id": "pre-order-title",
	"type": "text",
	"label": "Title",
	"default": "Pre-order now!"
	},
	{
	"id": "pre-order-text",
	"type": "textarea",
	"label": "Text",
	"default": "Enter text here"
	}
]
,
"presets": [
	{
	"name": "Call to Action",
	"category": "Promotional"
	}
]
}
{% endschema %}
